{{#classes}}## Classes

{{#each this}}### {{@key}}<a href='_classes-{{@key}}'></a>

|Name | Type | filter_index | order_index | unique |
|-----|------|--------------|-------------|--------|
{{#each this}}|{{name}}|{{#reference-type type}}[{{../target}}](#_classes-{{../target}}) {{this}}{{else}}{{../type}}{{/reference-type}}|{{#if filter_index}} Yes {{else}} No {{/if}}|{{#if order_index}} Yes {{else}} No {{/if}}|{{#if unique}} Yes {{else}} No {{/if}}|
{{/each}}
{{/each}}{{/classes}}