{{#config}}## Config

{{>config-index}}

|Options | Type | Required|
|--------|------|---------|
{{#each this}}|{{@key}}|{{#if type}}{{type}}{{else}}    {{/if}}|{{#if required}} Yes {{else}} No {{/if}}|
{{/each}}

{{#each this}}* {{@key}}<a href="_config-{{@key}}"></a>{{#if description}}

    {{{description}}}

{{else}}

    <span style="color: gray">*missing description*</span>

{{/if}}
{{/each}}{{/config}}